<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/room2.png" , width=250, height=150 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Office View <small class="d-none">🛡️</small></h2>
        <p>Have access to a birds-eye view of the virtual office layout, including which room of the office each employee is in.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/avatar.png" , width=200, height=150 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Customizable Avatars <small class="d-none">🚀</small></h2>
        <p>Customize your avatar's clothes and facial features, so that the virtual office environment can feel more personalized.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/status.png" , width=200, height=75 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Work Status Displayed<small class="d-none">📈</small></h2>
        <p>Each person in the virtual office has a status icon that depicts their availability. Toggling between "do not disturb", "on a call", and "open" allows employees to balance collaboration with the need for focused work time.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Intuitive UI<small class="d-none">🦉</small></h2>
        <p>Simple user interface that lets users navigate between office rooms with the press of just one button.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Personalized Offices<small class="d-none">✨</small></h2>
        <p>Employee's have the ability to customize their virtual office space with personal items and decor, creating a comfortable workspace that reflects each employee's personality and work style.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Break Room<small class="d-none">🧰</small></h2>
        <p>The virtual office offers an interactive break room with games and activities allowing employees to socialize and unwind together during breaks, fostering team bonding and reducing feelings of isolation.</p>
    </div>
</div>
